- if flash[:notice] || local_assigns[:notice]
  .alert.alert-success= flash[:notice] || local_assigns[:notice]

- if flash[:alert] || local_assigns[:alert]
  .alert.alert-error= flash[:alert] || local_assigns[:alert]
